<div class="conditional_logic_flyout__rule ifonly_rule" data-ifonly-rule="{{ rule_idx }}">
	<select data-js-ifonly-rule="fieldId" class="gfield_rule_select">
		{{ fieldOptions }}
	</select>
	<select data-js-ifonly-rule="operator" class="gfield_rule_select">
		{{ operatorOptions }}
	</select>
	{{ valueMarkup }}
	<div class="conditional_logic_flyout__rule-controls">
		<button type="button" class="add_field_choice gform-st-icon gform-st-icon--circle-plus" data-js-ifonly-add-rule title="{{ addRuleText }}"></button>
		<button type="button" class="delete_field_choice gform-st-icon gform-st-icon--circle-minus {{ deleteClass }}" data-js-ifonly-delete-rule title="{{ removeRuleText }}"></button>
	</div>
</div>
